.logo {
    width: 358px;
    height: 87px;
}

.card-image-logo {
    height: 100px;
}

.imgs {
    display: flex;
    gap: 44px;
    justify-content: center;
}
.nav{
    background: #002147 !important;
    color: #ffffff !important;
}
a{
    color: #ffffff !important;
}
.card {
    border: 1px solid black;
    height: 100% !important;
}

.card-img-top {
    height: 200px;
}
.fim{
    margin-left: 401px;
    display: flex;
}
.footer{
    display: flex;
    align-items: center;
    gap: 85px;
    margin-top: 70px;
    background-color: #CBCBCB;
    justify-content: center;
}
.pag{
    height: 125px;
}
.segura{
    height: 168px;
}

.card-img-top{
    width: 210px !important;
}
.dropdown-item{
    color: #002147 !important;
}
.card:hover {
    transform: scale(1.05);
    border: 2px solid #146bce;
    border-radius: 10px;
}
.btn-outline-success {
    color: #fff !important;
    border-color: #fff !important;
}
.btn-outline-success:hover {
    background-color: #fff !important;
    color: #002147 !important;
}
.text{
    color: #002147;
    font-family: inika;
    font-weight: bold;
    font-size: 24px;
}