.logo {
    width: 358px;
    height: 87px;
}
.nav{
    background: #002147 !important;
    color: #ffffff !important;
}
a{
    color: #ffffff !important;
}
.dropdown-item{
    color: #002147 !important;
}
.card-image-logo {
    height: 100px;
}
.card {
    height: 400px;
    height: 280px;
  }
  
.imgs {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.card-img-top {
    height: 200px;
}
.fim{
    margin-left: 401px;
    display: flex;
}
.footer{
    display: flex;
    align-items: center;
    gap: 85px;
    margin-top: 70px;
    background-color: #CBCBCB;
    justify-content: center;
}
.pag{
    height: 125px;
    width: 270px;
}
.segura{
    height: 168px;
}
.slogan{
    width: 1115px;
    margin-top: 87px;
}
.section-child{
    background-color: #7EA7D8;
}
.child{
    font-family: inika;
    font-size: 42px;
}
.card-text{
    font-size: 0.8rem;
}
.card:hover {
    transform: scale(1.05);
    border: 2px solid #146bce;
    border-radius: 10px;
}
.valor, .roupa{
    font-family: inika;
    font-weight: bold;
    font-size: 17px;
}
.mulher{
    justify-content: center;
}
.text{
    color: #002147;
    font-family: inika;
    font-weight: bold;
}
img {
  max-width: 100%;
  height: auto;
}
.fone, .br{
    width: 75% !important;
}
.caf{
    width: 67% !important;
}
.as{
    width: 55% !important;
}
.antigo{
    color: red;
    font-family: inika;
    text-decoration: line-through;
    font-size: 15px;
}
.pneu{
    margin-top: 62px;
}
