.logo {
    width: 358px;
    height: 87px;
}
.nav{
    background: #002147 !important;
    color: #ffffff !important;
}
a{
    color: #ffffff !important;
}
.card-image-logo {
    height: 100px;
}
.dropdown-item{
    color: #002147 !important;
}
.imgs {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.card {
    border: 1px solid black;
    height: 100%;
}

.card-img-top {
    height: 200px;
}
.fim{
    margin-left: 401px;
    display: flex;
}
.footer{
    display: flex;
    align-items: center;
    gap: 85px;
    margin-top: 70px;
    background-color: #CBCBCB;
    justify-content: center;
}
.pag{
    height: 125px;
}
.segura{
    height: 168px;
}
.card:hover {
    transform: scale(1.05);
    border: 2px solid #146bce;
    border-radius: 10px;
}
.btn-outline-success {
    color: #fff !important;
    border-color: #fff !important;
}
.btn-outline-success:hover {
    background-color: #fff !important;
    color: #002147 !important;
}
.text{
    color: #002147;
    font-family: inika;
    font-weight: bold;
}
.antigo{
    color: red;
    font-family: Arial;
    text-decoration: line-through;
    font-size: 15px;
}
.valor{
    color: #002147;
    font-size: 17px;
    font-weight: bold;
}
.toast-header strong {
    font-size: 20px !important;
    color: red !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.toast-body{
  color: #002147 !important;
  font-family: sans-serif;
  font-size: 16px !important;
}
.icon-size {
    font-size: 25px !important;
  }
  