.logo {
    width: 358px;
    height: 87px;
}
.nav{
    background: #002147 !important;
    color: #ffffff !important;
}
a{
    color: #ffffff !important;
}
.card-image-logo {
    height: 100px;
}
.dropdown-item{
    color: #002147 !important;
}
.imgs {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.card {
    border: 1px solid black;
}

.card-img-top {
    height: 200px;
}
.fim{
    margin-left: 401px;
    display: flex;
}
.footer{
    display: flex;
    align-items: center;
    gap: 85px;
    margin-top: 70px;
    background-color: #CBCBCB;
    justify-content: center;
}
.pag{
    height: 125px;
}
.segura{
    height: 168px;
}